input {
	border: 1px solid green;
}

a {
	text-decoration: none;
	font-weight: bold;
	color: #008800;
}

.opcion {
	font-weight: bold;
	font-size: 15;
	color: #009900;
}

.menu_bg{
	width: 100%;
	height: 100%;
	z-index: 1;
	position: absolute;
	background-color: black;
	opacity: 0.75;
}

.menu{
	margin: 5% 15%;
	z-index: 2;
	position: absolute;
	background-color: white;
	border: 3px solid black;
	padding: 10px;
}

.menu table{
	width: 700px;
	height: 500px;
}

.menu td {
	padding: 20px;
	margin: 2px;
}

.cerrar{
	position: absolute;
	right: 15px;
	top: 10px;
	color: red;
	font-weight: bold;
	font-size: 20;
	font-family: monospace;
	
}

#menu_bar {
	clear: both;
	position: relative;
}

#menu_bar ul {
	list-style: none;
	height: 50px;
	margin : 0 0;
	padding: 0;
}

#menu_bar li {
	float: right;
}

#menu_bar a {
	display: block;
	height: 50px;
	width: 160px;
	text-align: right;
	vertical-align: middle;
	border: 2px solid black;
	background: none;
	font-size: 17px;
	font-variant: small-caps;
	font-weight: bold;
}

#menu_bar ul li a:hover {
	color: red;
}

.ost{
	font-weight: bold;
	font-size: 10;
	color: #993399;
}

.orden{
	width: 300;
	border: 2px solid red;
	border-collapse: collapse;
}

.orden td {
		vertical-align: middle;
}

.carga {
	border: 2px solid #339933;
	background: white;
	position: relative;
	clear: none;
}

.train_spec {
	border: 2px solid #339933;
	background: white;
	position: relative;
	clear: none;
}

.ordenes_container {
	vertical-align: top;
}

.tiempo {
	font-weight: bold;
}

.info {
	display: block;
	position: absolute;
	z-index: 2;
	background: black;
	color: white;
	border: solid 2px red;
	padding: 4px;
}

#container{
	margin: auto;
}

#atracos {
	border-collapse:collapse; 
	border: 1px solid green;
}

#atracos tr {
	border-collapse:collapse; 
	border: 1px solid green;
}

#atracos tr:hover {
	border-collapse:collapse;
	border: 2px solid;
	background: #AAAAFF;
}

#atracos td {
	border-collapse:collapse; 
	border: 1px solid green; 
	padding: 2px;
}